body{
    text-align: center;
    padding:120px ;
    font-size: 15px;
    background-image: url("v.jpg");
    background-size: cover;
}
button{
    background-color:white;
    font-weight: 100;
}
table{
    padding: 10px;
    margin-left: 550px;
    font-size:10px;
    margin-bottom: 50px;
}
.result{
    background-color: beige;
}
